@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.learn-more {
  background: transparent;
  width: 12rem;
  position: relative;
  border: none;
  padding: 0;
}
.learn-more .circle {
  transition: 0.5s;
  display: block;
  width: 50px;
  height: 45px;
  background: #2f2e41;
  border-radius: 5px;
}
.learn-more .circle .icon {
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .arrow {
  transition: 0.5s;
  left: 0.625rem;
  width: 20px;
  height: 2px;
  background: none;
}
.learn-more .circle .arrow::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.learn-more .button-text {
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30px;
  padding: 10px;
  margin: 1.5px 0 0 10px;
  color: #2f2e41;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(10px, 0);
}

button:hover .button-text {
  color: #fff;
}

.card {
  width: 18rem;
  margin: 15px auto;
  color: #000;
  box-shadow: 5px 5px 15px -5px rgba(35, 219, 255, 0.1490196078);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 5px 5px 20px -15px #23dbff;
}
.card img {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.card .card-body p {
  text-align: justify;
}

/*btn animation*/
.mouse-cursor-gradient-tracking {
  position: relative;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #ced4da;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.mouse-cursor-gradient-tracking:hover {
  border: 1px solid #ced4da;
}

.mouse-cursor-gradient-tracking div {
  position: relative;
}

.mouse-cursor-gradient-tracking:before {
  content: "";
  --size: 0;
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(35, 218, 255, 0.2392156863), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 100px;
}

/* end btn animation*/
::-moz-selection {
  background-color: #23b2ff;
  color: #FFF;
}
::selection {
  background-color: #23b2ff;
  color: #FFF;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #23b2ff;
}

.toUp {
  position: fixed;
  font-size: 2vh;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  color: #23b2ff;
  cursor: pointer;
  display: none;
  -webkit-animation: toUp 1s ease-in-out infinite alternate;
          animation: toUp 1s ease-in-out infinite alternate;
  mix-blend-mode: multiply;
}
@-webkit-keyframes toUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes toUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Fredoka One", cursive;
  font-family: "Secular One", sans-serif;
}

[type=search] {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
[type=search]:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

nav .navbar-brand {
  color: #23b2ff;
  font-family: "Fredoka One", cursive;
}
nav .navbar-brand:hover, nav .navbar-brand:focus {
  color: #23b2ff;
}
nav .center {
  text-align: center;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  nav .center {
    align-items: flex-start;
  }
}
nav .more .dropdown-menu.show {
  position: absolute;
  left: -15px;
}
@media (max-width: 991px) {
  nav ul.navbar-nav.more.mb-2.mb-lg-0 {
    text-align: left;
  }
  nav ul.navbar-nav.more.mb-2.mb-lg-0 button {
    margin: 10px 0;
    padding: 0;
  }
}
nav ul .dropdown-menu.show {
  position: absolute;
  left: -100px;
}
@media (max-width: 991px) {
  nav ul .dropdown-menu.show {
    display: contents;
  }
}
nav ul .dropdown-toggle {
  margin: 0 10px;
  border: none;
}
@media (max-width: 991px) {
  nav ul .dropdown-toggle {
    margin-left: 0px;
    margin-top: 10px;
  }
}
nav .navbar-toggler {
  box-shadow: none;
  border: 2px solid #23b2ff;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler[aria-expanded=true] {
  border: 2px solid #23dbff;
}
nav .green {
  color: #38ec89;
  border: 2px solid #38ec89;
  transition: 0.5s;
}
nav .green:hover {
  background: #38ec89;
  border: 2px solid #38ec89;
  color: #FFF;
}

#footer .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer p {
  text-align: justify;
}
#footer .mapouter {
  display: flex;
  align-content: stretch;
  justify-content: center;
}
#footer .gmap_canvas {
  border: 2px solid rgba(35, 219, 255, 0.5019607843);
  border-radius: 10px;
}
#footer li {
  color: #000;
  opacity: 0.7;
}
#footer li:hover {
  opacity: 1;
}
#footer .social-links {
  display: flex;
  flex-direction: row;
}
#footer .social-links li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

#ads .container {
  display: flex;
  justify-content: center;
}
#ads .container img {
  width: 900px;
  max-width: 100%;
  max-height: 300px;
}

#index {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
  min-height: 100vh;
}
#index #main {
  margin-top: 10px;
  min-height: calc(100vh - 66px);
  background: url(../img/1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#index #main .container {
  -webkit-backdrop-filter: saturate(0.8);
          backdrop-filter: saturate(0.8);
  padding: 15px;
}
#index #main .container p {
  width: 50%;
}
@media (max-width: 767px) {
  #index #main .container p {
    width: 100%;
  }
}
#index #pioneers {
  min-height: 60vh;
  display: flex;
  align-items: center;
}
#index #pioneers .container .pioneers-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
#index #pioneers .container .pioneers-img img {
  width: 100%;
}
#index #courses {
  background: #FFF;
  color: #000;
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;
}
#index #courses .allcards .row {
  margin: 0;
}
#index #courses .allcards .row .card {
  width: 18rem;
  margin: 15px auto;
  color: #000;
  box-shadow: 5px 5px 15px -5px rgba(35, 219, 255, 0.1490196078);
  transition: 0.3s;
}
#index #courses .allcards .row .card:hover {
  box-shadow: 5px 5px 20px -15px #23dbff;
}
#index #courses .allcards .row .card img {
  width: 100%;
  height: 100%;
  padding: 5px;
}
#index #courses .allcards .row .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#index #courses .allcards .row .card .card-body p {
  text-align: justify;
}

#login #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
  min-height: 60vh;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  #login #main .formX {
    flex-direction: column-reverse;
  }
}
#login #main .card {
  width: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid #EEE;
}
#login #main .card .form-outline {
  position: relative;
}
#login #main .card .form-outline .invalid-tooltip {
  position: revert;
  top: 118px;
}
#login #main .card input {
  background: transparent;
  box-shadow: none;
}
#login #main .card .eye {
  position: relative;
}
#login #main .card .eye i {
  position: absolute;
  top: 15px;
  right: 25px;
}
#login #main .card button {
  background: #FFF;
  padding: 10px 15px;
  border-radius: 5px;
  color: #38ec89;
  border: 2px solid #38ec89;
  transition: 0.5s;
}
#login #main .card button:hover {
  background: #38ec89;
  border: 2px solid #38ec89;
  color: #FFF;
}
#login #main .card a {
  color: #23b2ff;
  opacity: 0.8;
  text-decoration: none;
}
#login #main .card a:hover {
  opacity: 1;
}

#signup #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  #signup #main .formX {
    flex-direction: column-reverse;
  }
}
#signup #main .card {
  width: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #EEE;
}
#signup #main .card .form-outline {
  position: relative;
}
#signup #main .card .form-outline .invalid-tooltip {
  position: revert;
  top: 118px;
}
#signup #main .card input {
  background: transparent;
  box-shadow: none;
}
#signup #main .card .eye {
  position: relative;
}
#signup #main .card .eye i {
  position: absolute;
  top: 15px;
  right: 25px;
}
#signup #main .card button {
  background: #FFF;
  padding: 10px 15px;
  border-radius: 5px;
  color: #23b2ff;
  border: 2px solid #23b2ff;
  transition: 0.5s;
}
#signup #main .card button:hover {
  background: #23b2ff;
  border: 2px solid #23b2ff;
  color: #FFF;
}
#signup #main .card a {
  color: #66f3a5;
  opacity: 0.8;
  text-decoration: none;
}
#signup #main .card a:hover {
  opacity: 1;
}

#about #main {
  display: flex;
  align-items: center;
}
#about #main .row .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about #main .row .about-text p {
  text-align: justify;
}
#about .accordion {
  border-radius: 50px;
}
#about .accordion .accordion-button:focus {
  box-shadow: none;
}
#about .accordion button {
  background-color: #ecf8ff;
  border-radius: 50px;
}
#about .accordion h2 {
  border-radius: 50px;
}
#about .accordion .accordion-item {
  border-radius: 25px;
  margin: 10px 0;
}

#contact #main .contact-text {
  display: flex;
  align-items: center;
}
#contact #main .contact-text form input {
  box-shadow: none;
}
#contact #main .contact-text form textarea {
  max-height: 150px;
  box-shadow: none;
}
#contact #main .contact-text form .blue {
  color: #23b2ff;
  border: 2px solid #23b2ff;
  transition: 0.5s;
}
#contact #main .contact-text form .blue:hover {
  background: #23b2ff;
  border: 2px solid #23b2ff;
  color: #FFF;
}
#contact #cards .allcards {
  justify-content: center;
}
#contact #cards .allcards .card {
  margin: 5px;
}
#contact #cards .allcards .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accounts {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#accounts #main .AllBTN {
  display: flex;
  justify-content: center;
}
#accounts #main .AllBTN a {
  margin: 10px;
  padding: 10px 15px;
}
#accounts #main .AllBTN .blue {
  color: #23b2ff;
  border: 2px solid #23b2ff;
  transition: 0.5s;
}
#accounts #main .AllBTN .blue:hover {
  background: #23b2ff;
  border: 2px solid #23b2ff;
  color: #FFF;
}
#accounts #main .AllBTN .green {
  color: #38ec89;
  border: 2px solid #38ec89;
  transition: 0.5s;
}
#accounts #main .AllBTN .green:hover {
  background: #38ec89;
  border: 2px solid #38ec89;
  color: #FFF;
}

#education #main, #news #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#education #main .row.main-container, #news #main .row.main-container {
  display: flex;
  justify-content: center;
  margin: 0;
}
#education #main .row.main-container .card, #news #main .row.main-container .card {
  margin: 10px;
}
#education #main .row.main-container .card img, #news #main .row.main-container .card img {
  width: 100%;
  height: 100%;
  padding: 5px;
  max-height: 200px;
}
#education #main .row.main-container .card .card-body, #news #main .row.main-container .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#education #main .row.main-container .card p, #news #main .row.main-container .card p {
  text-align: start;
}
#education #main .row.main-container .card .blue, #news #main .row.main-container .card .blue {
  color: #23b2ff;
  border: 2px solid #23b2ff;
  transition: 0.5s;
}
#education #main .row.main-container .card .blue:hover, #news #main .row.main-container .card .blue:hover {
  background: #23b2ff;
  border: 2px solid #23b2ff;
  color: #FFF;
}

#analytics #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#analytics #main .row {
  margin: 0;
}

#articale #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#articale #main .row {
  margin: 0;
}
#articale #main img {
  width: 80%;
  max-height: 60vh;
  border-radius: 10px;
}

#Videos #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#Videos #main .main-container {
  min-height: 88vh;
  max-width: 100vw;
  margin: 5px;
}
#Videos #main .main-container #mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 55vh;
}
#Videos #main .main-container #mainMenu ::-webkit-scrollbar {
  width: 5px;
}
#Videos #main .main-container #mainMenu ::-webkit-scrollbar-thumb {
  background-color: rgba(35, 178, 255, 0.4588235294);
}
#Videos #main .main-container #mainMenu .active {
  background: #23b2ff;
  outline: none;
  border: none;
}
#Videos #main .main-container #mainMenu ul {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
#Videos #main .main-container #mainMenu ul li {
  cursor: pointer;
}
#Videos #main .main-container #mainAccordion {
  max-height: 55vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(215, 250, 216, 0.231372549);
}
#Videos #main .main-container #mainAccordion .card {
  width: auto;
}
#Videos #main .main-container #mainAccordion .card .card-body iframe {
  max-width: 100%;
  max-height: 45vh;
}
#Videos #main .main-container #ads {
  display: flex;
  justify-content: center;
}
#Videos #main .main-container #ads img {
  max-width: 100%;
}

#Video #main {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#Video #main .main-container {
  display: flex;
  justify-content: center;
  margin: 0;
}
#Video #main .main-container .green {
  color: #38ec89;
  border: 2px solid #38ec89;
  transition: 0.5s;
}
#Video #main .main-container .green:hover {
  background: #38ec89;
  border: 2px solid #38ec89;
  color: #FFF;
}
#Video #main .main-container iframe {
  width: 100%;
  border: 2px solid #23dbff;
  border-radius: 15px;
}

#corporate #main .card {
  width: auto;
}
#corporate #main .card .form-outline {
  position: relative;
}
#corporate #main .card .form-outline .invalid-tooltip {
  position: initial;
}
#corporate #main .card .form-outline input {
  box-shadow: none;
}
#corporate #main .card .form-outline .form-control {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
#corporate #main .card .form-outline select, #corporate #main .card .form-outline select:focus {
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
}

#currency #currencySec .form .form-group {
  margin-top: 10px;
}
#currency #currencySec .form .form-group select, #currency #currencySec .form .form-group select:focus, #currency #currencySec .form .form-group input, #currency #currencySec .form .form-group input:focus {
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
  background: rgba(242, 253, 255, 0.4392156863);
  color: #00161b;
  border: 1px solid;
}
#currency #currencySec .form .form-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
#currency #currencySec .form .form-group option:hover, #currency #currencySec .form .form-group option:focus, #currency #currencySec .form .form-group option:active {
  background-color: #23dbff;
  color: #23dbff;
}
#currency #currencySec .form .form-group .form-control {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
#currency #currencySec .green {
  margin-top: 15px;
  color: #38ec89;
  border: 2px solid #38ec89;
  transition: 0.5s;
}
#currency #currencySec .green:hover {
  background: #38ec89;
  border: 2px solid #38ec89;
  color: #FFF;
}

#calender {
  background: url(../img/pattern-randomized.svg);
  background-attachment: fixed;
}
#calender #main .container .row {
  margin: 0;
  overflow-x: auto;
}
#calender #main .container .row .table {
  --bs-table-accent-bg: #92dfff30;
  --bs-table-striped-bg: #23b2ff03;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: rgba(240, 248, 255, 0.368627451);
}
#calender #main .container .row .table ::-webkit-scrollbar {
  width: 5px;
}
@media (max-width: 767px) {
  #calender #main .container .row .table td {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=main.css.map */